<app-header></app-header>

<!-- Theme -->
<section class="addTheme contTheme">
	<div class="contThemeText">
	  <h2>Get in touch with us</h2>
	  <p>Submit your Query to get full details</p>
  </div>
</section>
<!-- Theme -->

<!--   Add Chef  -->

<section class="addContWrap ContWrapOut">
	<div class="addContInn clearfix">
		<div class="addForm">
			<div class="clearfix">
				<label>Full Name</label>
				<div class="addInn"><input type="text" placeholder="Enter Full Name" /></div>
			</div>
			<div class="clearfix">
				<label>Phone</label>
				<div class="addInn"><input type="text" placeholder="0000 000 000" /></div>
			</div>
			<div class="clearfix">
				<label>Email</label>
				<div class="addInn"><input type="text" placeholder="name@domain.com" /></div>
			</div>
			<div class="clearfix">
				<label>State</label>
				<div class="addInn"><input type="text" placeholder="Enter State" /></div>
			</div>	
			<div class="clearfix">
				<label>City</label>
				<div class="addInn"><input type="text" placeholder="Enter City" /></div>
			</div>		
			<div class="clearfix">
				<label>About yourself</label>
				<div class="addInn"><textarea placeholder="Enter here.."></textarea></div>
			</div>	
			<div class="clearfix">
				<label>&nbsp;</label>
				<div class="addInn">			
					<button class="siBtn">Submit</button>
				</div>
			</div>																														
		</div>
		<div class="contDetails">
			<h3> Caterbinge</h3>
			<p>Address Text Here...</p>
			<p>Address Text Here...</p>
			<p>Address Text Here...</p>
			<p>Address Text Here...</p>
			<span><a href="javascript:void(0)"><i class="fa fa-envelope-o"></i> info@caterbinge.com</a></span>
			<span><a href="javascript:void(0)"><i class="fa fa-envelope-o"></i> suport@caterbinge.com</a></span>
			<span><a href="javascript:void(0)"><i class="fa fa-phone"></i> 040 2233 4455</a></span>
			<span><a href="javascript:void(0)"><i class="fa fa-mobile"></i> +91 9000 000 000</a></span>
		</div>
	</div>
</section>


<app-footer></app-footer>